HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local environment / secrets ###
.env
.env.*
*.log
src/main/resources/application.properties

### JetBrains local datasource metadata ###
dataSources.xml
data_sources_history.xml
misc.xml
c5d4de2f-407b-4ab9-b381-a9543d982969.xml

### Maven wrapper metadata (if generated outside .mvn/wrapper) ###
maven-wrapper.properties
